@import 'normolize'
@import 'elements'
@import 'slick'
@import 'stars'
@import 'header'
@import 'modal'

.hero
    overflow: hidden
    width: 100%
    text-align: left
    padding: 0
    &-item
        padding: 120px 0
        position: relative
        display: none
        z-index: 1
        color: #fff
        h1, h2, h3, p
            text-align: left
            max-width: 900px

        p
            font-size: 32px
            margin-bottom: 60px

        &:first-child
            display: block

    &__bg
        position: absolute
        top: 0
        left: 0
        object-fit: cover
        z-index: -1
        width: 100%
        height: 100%

.product
    width: 390px
    padding-bottom: 26px
    text-align: left
    border: 1px solid rgba(9, 43, 14, 0.3)
    background: rgba(243, 247, 249, 0.99)
    border-radius: 12px
    overflow: hidden
    display: inline-flex !important
    flex-direction: column
    &-wrap
        gap: 40px 65px
        margin-bottom: 40px

    .new
        background-color: $bg
        color: #fff
    .discount
        color: #fff
        background-color: $red
    .new,
    .discount,
    .in_stock
        padding: 6px 16px
        border-radius: $b-radius

    .in_stock
        background-color: #E2EDFF
        background-image: url('../img/check.svg')
        background-repeat: no-repeat
        background-position: center left 8px
        background-size: 18px auto
        padding-left: 32px
        position: absolute
        left: 24px
        bottom: 24px

    &-img
        height: 280px
        padding: 24px
        position: relative
        z-index: 1
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover
            position: absolute
            top: 0
            left: 0
            z-index: -1
            transition: .3s ease all

    .wrap
        margin-top: auto
        padding: 0 20px 0
        .btn
            width: 100%
            margin-top: 15px
            &_outline,
            &_second
                width: 48.5%
                padding: 12px 12px 11px

    &-title
        padding: 20px 20px 0

    &__heading
        font-weight: 500
        font-size: 24px
        margin: 0 0 16px

    &__price
        font-weight: 400
        font-size: 22px
        line-height: 32px
        color: $third
        margin-bottom: 16px
        i
            font-style: normal
            font-size: 28px
            font-weight: 500

    &__link,
    &__list
        display: block
        color: $bg
        font-weight: 400
        font-size: 19px
        line-height: 130%
        margin-bottom: 4px

    &__link
        display: inline-block
        background-image: url('../img/dobble-arrow.svg')
        background-repeat: no-repeat
        background-position: center right
        background-size: 20px auto
        padding-right: 22px

    &:hover
        img
            transform: scale(1.1) rotate(-1deg)

    &-slider
        max-width: 1400px
        overflow: hidden
        .product
            background-color: #fff
            margin: 0 32px

.contact_us
    padding: 85px 0
    background-color: $bg
    background-image: url('../img/connect.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    color: #fff
    .col
        max-width: 400px
        margin: 0 0 0 auto

    h2
        margin-bottom: 16px

    p
        font-weight: 500
        font-size: 20px
        line-height: 150%
        margin-bottom: 16px

    input
        border-color: $third
        border-radius: 12px

    .descr
        font-weight: 400
        font-size: 16px
        line-height: 150%
        text-align: left
        color: $black
        a
            font-style: normal
            color: #fff

    .btn
        width: 100%

.features
    .wrap
        gap: 20px 1%
        align-items: flex-start
    &-item
        width: 23%

    &-img
        display: flex
        align-items: center
        justify-content: center
        width: 80px
        height: 80px
        border-radius: 50%
        margin: 0 auto 20px
        background-color: $bg
        img
            width: 45%

    &__heading
        font-weight: 500
        font-size: 22px
        line-height: 32px
        margin-bottom: 8px

    &__text
        font-weight: 400
        font-size: 20px

.about
    .btn
        margin-top: 40px

    &-title
        text-align: left
        &::after
            content: ''
            clear: both
            display: block

        p
            max-width: 50%

    &__img
        width: 46%
        float: right
        display: block
        border-radius: $b-radius

.news
    width: 376px
    text-align: left
    border: 1px solid rgba(9, 43, 14, 0.3)
    background: rgba(243, 247, 249, 0.99)
    border-radius: 12px
    overflow: hidden
    position: relative
    z-index: 1
    &-img
        height: 172px
        position: relative
        // z-index: 1
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover
            position: absolute
            top: 0
            left: 0
            z-index: -1
            transition: .3s ease all

    &-wrap
        gap: 40px 86px
        margin-bottom: 40px

    &-title
        display: block
        padding: 8px 20px 15px

    &__time
        font-weight: 400
        font-size: 14px
        line-height: 120%
        margin-bottom: 4px

    &__heading
        font-weight: 600
        font-size: 20px
        line-height: 23px
        margin-bottom: 6px
        color: $prime

    &__text
        font-weight: 400
        font-size: 16px
        line-height: 19px
        margin: 0

    &__link
        display: inline-block
        font-size: 0
        width: 100%
        height: 100%
        min-height: 10px
        color: transparent
        position: absolute
        top: 0
        left: 0
        z-index: 1
        &::before
            content: ''
            display: block
            width: 100%
            height: 100%
            z-index: 100
            position: absolute
            top: 0
            left: 0

    &:hover
        img
            transform: scale(1.1) rotate(-1deg)
        .news__heading
            text-decoration: underline

.clients
    &-slider
        max-width: 1340px

    &-slide
        max-width: 400px
        margin: 10px
        img
            object-fit: cover
            width: 100%
            height: 100%

.certificates
    &-slider
        max-width: 1400px
        margin: 0 auto

    &-slide
        width: 400px
        margin: 0 25px
        text-align: center
        background-color: #fff
        img
            display: block
            width: 100%
            height: 100%
            object-fit: contain

.pagination
    justify-content: center
    gap: 0 12px
    a
        font-size: 20px
        padding: 0 11px
        display: inline-block
        line-height: 150%
        color: rgba(31, 37, 40, 0.70)
        &.active
            color: #000
            border: 1px solid $third
            border-radius: $b-radius

        img
            display: block
            filter: grayscale(10)

.path
    padding-top: 44px
    a
        font-size: 20px
        display: inline-block
        vertical-align: middle
        color: rgba(31, 37, 40, 0.70)
        &::before
            content: '|'
            display: inline-block
            padding: 0 8px
            color: #000

        &:first-of-type
            &::before
                content: ''
                display: none

        &:last-of-type
            color: #000
            pointer-events: none

article
    max-width: 1080px
    margin: 0 auto

    img
        display: block
        width: 100%
        margin: 0 0 40px
        border-radius: 12px

    p
        text-align: left

    ol, li
        text-align: left

.cart
    text-align: left

    &__clear
        padding: 14px
        font-size: 20px
        color: #1F2528

    &-header
        background-color: $bg
        border-radius: $b-radius
        padding: 12px 120px 12px 37px
        flex-wrap: nowrap
        color: #fff
        span
            display: block
            // margin: 0 auto
            text-align: center
            width: 15%
            &:first-child
                text-align: left
                margin: 0
                width: 40%
            &:nth-child(2)

            &:nth-child(3)
                width: 174px

    &-item
        padding: 0 37px
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 0 30px
        &__img
            display: none

        &__heading
            width: 38%
            font-size: 22px
            margin: 0

        .amount

        &__price,
        &__total
            margin: 0
            text-align: center
            width: 15%
            font-size: 24px
            color: $prime

        &__delete
            width: 40px
            height: 30px
            background-image: url('../img/delete.svg')
            background-repeat: no-repeat
            background-position: center center
            background-size: 30px 30px

        &__recover
            font-size: 24px
            font-weight: 600
            display: inline-block
            padding: 4px

    .total
        padding: 34px 0
        margin: 0
        text-align: right
        font-weight: 500
        line-height: 150%
        &__text
            font-size: 28px
        &__price
            font-size: 32px
            min-width: 240px
            display: inline-block
            text-align: center
            color: $third

    &-footer
        justify-content: flex-end
        .btn
            margin: 0 15px

    &-empty
        text-align: center
        padding-bottom: 60px
        .wrap
            justify-content: center
            gap: 60px

        p
            max-width: 658px
            margin: 0 auto 60px
            font-size: 28px
            a
                color: $prime

        .btn
            min-width: 277px

.ordering
    text-align: left
    padding: 40px 0
    h2, h1, h3
        text-align: left
    i
        color: red

    &__required
        max-width: 640px
        font-size: 18px

        b
            font-size: 20px

        a
            color: $prime
            text-decoration: underline

    &-delivery
        display: none

.map
    padding-bottom: 0
    h2
        margin-bottom: 30px

    p
        margin-bottom: 40px

.lost
    position: relative
    z-index: 1
    text-align: center
    color: #fff
    padding: 0 0 100px

    .content
        background-image: url('../img/bg-arrow.svg'), url('../img/404.jpg')
        background-repeat: no-repeat
        background-position: bottom, center
        background-size: 100% auto, cover
        background-color: $bg
        padding: 50px 0 100px
        margin-bottom: 50px

    h1
        font-size: 320px
        letter-spacing: 30px
        margin: 0
        line-height: 100%
        text-shadow: 10px 10px 10px $prime

    .info
        font-size: 48px
        margin-bottom: 10px

    .descr
        font-size: 20px
        max-width: 400px
        margin: 0 auto

.filter
    text-align: left
    gap: 20px 18px
    margin-bottom: 60px
    position: relative
    &__btn
        line-height: 150%
        border-radius: 12px
        border: 1px solid rgba(9, 43, 14, 0.30)
        font-size: 20px
        order: 1
        padding: 4px 20px
        &.active:not(#filter__toggler)
            border-color: $third
            background-color: $third
            color: #fff

    #filter__toggler
        font-size: 20px
        border: none
        margin: 0 0 0 auto
        padding: 4px 30px 4px 20px
        order: 4
        position: relative
        &::before
            content: ''
            display: inline-block
            width: 20px
            height: 100%
            position: absolute
            top: 0
            right: 0
            background-image: url('../img/arrow-down.svg')
            background-repeat: no-repeat
            background-position: center right
            background-size: contain
            transform: rotate(180deg)

        &.toggle
            &::before
                transform: rotate(0deg)

.catalogue
    padding: 40px 0 0

.box
    width: 280px
    border-radius: 12px
    border: 1px solid rgba(9, 43, 14, 0.30)
    background: #FFF
    text-align: left
    padding-bottom: 82px
    position: relative
    z-index: 1
    &-wrap
        gap: 60px 60px
        margin-bottom: 42px

    &-img
        width: 100%
        height: 256px
        margin-bottom: 20px
        img
            width: 100%
            height: 100%
            object-fit: cover

    &__heading
        font-size: 20px
        font-weight: 500
        line-height: 120%
        margin: 0 0 8px
        padding: 0 16px

    &__text
        padding: 0 16px
        font-size: 16px
        margin: 0
        line-height: 150%

    .btn
        position: absolute
        bottom: 20px
        left: 16px
        width: calc( 100% - 32px )
        z-index: 1
        padding: 10px 20px

.service
    display: flex
    flex-direction: column
    width: 310px
    padding: 30px 24px 0
    border-radius: 12px
    border: 1px solid rgba(9, 43, 14, 0.30)
    background: #FFF
    text-align: left
    img
        height: 194px
        width: 100%
        display: block
        object-fit: cover
        margin-top: auto
        border-radius: 12px

    &__heading
        font-size: 24px
        line-height: 150%
        margin: 0 0 24px

    a
        display: block
        color: $prime
        font-size: 20px
        padding: 24px 0 30px
    &-wrap
        gap: 20px

.category
    position: relative
    z-index: 111
    text-align: left
    #filterShow
        display: none

    &-filter
        border-radius: 12px
        border: 2px solid #19AD16
        background: #FFF
        padding: 20px 30px
        width: 340px
        .dropdown
            &-btn
                width: 100%
                text-align: left
                display: block
                color: $prime
                font-size: 19px
                font-family: Roboto
                font-weight: 500
                line-height: 120%
                margin: 0 0 20px
                padding-right: 24px
                background-image: url('../img/arrow-down.svg')
                background-repeat: no-repeat
                background-position: center right
                background-size: auto 24px

        &__show,
        &__recet
            width: 100%
            display: block
            padding: 10px 10px
            margin-top: 12px
        &__recet
            color: $third
            font-weight: 500
            b
                font-weight: 500
                font-style: normal

        &__heading,
        &__ready
            display: none

        @media screen and ( min-width: 700px )
            display: block !important

    .inp-radio
        margin-bottom: 12px
        &:last-child
            margin-bottom: 0
        label
            padding: 1px 0 1px 30px
            font-size: 18px
            margin: 0

            &::before,
            &::after
                width: 20px
                height: 20px
                border-radius: 8px

    .container
        align-items: start

    &-content
        width: calc( 100% - 380px )

    .filter
        margin-bottom: 24px

    .sort
        margin-bottom: 40px

    .product
        width: 32% !important
        background-color: #fff
        &-wrap
            gap: 25px 2%

        &__heading
            font-size: 20px
            margin-bottom: 4px

        &__price
            font-size: 20px
            line-height: 120%
            margin-bottom: 10px
            i
                font-size: 24px

        &__list
            font-size: 16px

        .wrap
            padding: 0 16px
            .btn
                font-size: 16px
                margin-top: 12px
                &_outline
                    font-size: 14px
                    width: unset
                    min-width: 45%
                    &::before
                        display: none
                &_second
                    font-size: 14px
                    width: unset
                    min-width: 50%

.card
    text-align: left
    .container
        z-index: unset
        align-items: flex-start

    #reviewTogler
        display: none

    .new
        background-color: $bg
        color: #fff
    .discount
        color: #fff
        background-color: $red
    .new,
    .discount,
    .in_stock
        padding: 6px 16px
        border-radius: $b-radius

    .in_stock
        background-color: #E2EDFF
        background-image: url('../img/check.svg')
        background-repeat: no-repeat
        background-position: center left 8px
        background-size: 18px auto
        padding-left: 32px
        position: absolute
        left: 24px
        bottom: 24px
        z-index: 111

    &-img
        width: 57%
        position: relative
        align-items: flex-start

    &-slider
        border-radius: 12px
        width: calc( 100% - 186px )
        border: 1px solid #E2EDFF
        overflow: hidden
        &__item
            height: 556px
            display: none
            &:first-child
                display: block
            img
                width: 100%
                height: 100%
                object-fit: cover

    &-nav
        width: 164px
        position: relative
        margin: 56px 0
        &__item
            width: 164px
            height: 140px !important
            border-radius: 8px
            border: 1px solid #E2EDFF
            margin: 6px 0
            overflow: hidden
            display: none
            cursor: pointer
            &:first-child
                display: block

            img
                opacity: .5
                width: 100%
                height: 100%
                object-fit: cover

        .slick
            &-arrow
                left: 37%
                border-color: #E2EDFF
                margin: 0
                top: -70px
                transform: rotate(-90deg) translateX(-50%) !important

            &-next
                bottom: -70px
                top: auto
                right: auto
                transform: rotate(90deg) translateX(-50%) !important

            &-current
                img
                    opacity: 1

    &-content
        width: 41%

        &__text
            margin: 0
            font-size: 22px
            font-weight: 400

    &-info
        padding: 60px 0
        width: 100%

    h1
        margin-bottom: 12px

    &__ar
        font-size: 20px
        display: inline-block
        vertical-align: middle
        margin-left: 18px
        opacity: .7

    .row
        margin-bottom: 20px

    &__subheading
        font-size: 20px
        margin-bottom: 12px

    ul
        padding: 0
        list-style: none
        margin: 0 0 12px
        li
            font-size: 18px
            margin-bottom: 8px
            background-image: url('../img/dots.svg')
            background-repeat: repeat-x
            background-position: center center
            &:last-child
                margin-bottom: 0

        i
            color: $third

        i, span
            max-width: 48%
            font-style: normal
            float: right
            display: inline-block
            vertical-align: middle
            padding: 0 0 0 4px
            background-color: #fff
        b
            max-width: 48%
            font-weight: normal
            display: inline-block
            vertical-align: middle
            padding: 0 4px 0 0
            background-color: #fff

    &__price
        font-size: 48px
        display: inline-block
        vertical-align: middle
        color: $third
        font-weight: bold
        margin: 42px 0
        s
            font-size: 24px
            color: $black
            font-weight: normal
            opacity: .7

    .amount
        vertical-align: middle
        display: inline-flex
        margin: 0 0 0 auto
        @media screen and ( min-width: 700px )
            button
                border: none

    .btn
        width: 48%

    .tab
        &-video
            width: 1016px
            margin: 0 16px
            iframe, video
                width: 100% !important
                height: unset !important
                aspect-ratio: 16/9
        &-videos,
        &-slider
            margin: 0
            .slick
                &-arrow
                    top: 50%
        &-slider
            img
                width: 100%
                height: 100%
                object-fit: cover
            .slick
                &-arrow
                    top: 50%

                &-prev
                    left: -60px
                &-next
                    right: -60px

        &-slide
            width: 366px
            height: 362px
            padding: 13px
            margin: 0 13px
            border-radius: 12px
            border: 1px solid #E2EDFF

@import 'footer'

@media screen and ( max-width: 1460px )
    .hero
        .container
            max-width: 1040px
        &-item
            padding: 100px 0
            h1, h2, h3
                font-size: 34px
                margin-bottom: 12px
            p
                max-width: 800px
                font-size: 22px
                margin-bottom: 20px

    .product
        &-wrap
            gap: 40px 25px

        &-slider
            max-width: 1290px
            &::before,
            &::after
                // box-shadow: 0 0 20px 30px #E2EDFF
                box-shadow: 0 0 15px 9px #E2EDFF
            .product
                margin: 0 12px

    .news
        &-wrap
            gap: 40px 46px

    .certificates
        .slider
            max-width: 1130px

        &-slide
            width: 320px
            margin: 0 20px

    .box
        &-wrap
            gap: 32px 32px

    .service
        width: 290px

    .card
        .tab

            &-slider
                max-width: 1050px
                margin: 0 auto
                .slick

                    &-prev
                        left: -40px
                    &-next
                        right: -40px

            &-slide
                width: 320px
                height: 322px

@media screen and ( max-width: 1200px )
    .hero
        .container
            max-width: 610px

        &-item
            padding: 74px 0
            h1, h2, h3
                font-size: 24px
                margin-bottom: 12px
            p
                font-size: 14px
                margin-bottom: 20px

    .product
        &:last-child
            display: none !important

        &-wrap
            gap: 20px 2.6%

        .new,
        .discount,
        .in_stock
            font-size: 12px
            padding: 5px 8px
            position: static
            display: inline-block
            margin-bottom: 4px
        .in_stock
            padding-left: 24px
            background-position: center left 6px
            background-size: 14px auto

        .product

        &_big
            width: 280px

        &__heading
            font-size: 20px
            margin-bottom: 0

        &__price
            font-size: 20px
            margin-bottom: 4px
            i
                font-size: 24px

        &__list
            font-size: 12px

        &-title
            padding: 20px 16px 0

        .wrap
            padding: 0 16px
            .btn
                font-size: 16px
                margin-top: 12px
                &_outline
                    font-size: 14px
                    width: unset
                    min-width: 45%
                    &::before
                        display: none
                &_second
                    font-size: 14px
                    width: unset
                    min-width: 50%

        &-slider
            max-width: 86%
            overflow: visible
            &::before,
            &::after
                display: none

            .slick
                &-prev
                    left: -40px
                &-next
                    right: -40px

        &:not(.product_big)
            width: 23%
            padding-bottom: 16px
            .product
                &-img
                    padding: 10px
                    height: 142px
                    span, p
                        display: none
                &-title
                    padding: 8px 5px 0

                &__heading
                    font-weight: 500
                    font-size: 14px
                    line-height: 120%
                    margin-bottom: 4px

                &__link
                    font-size: 10px
                    padding-right: 14px
                    background-size: 12px auto

    .contact_us
        padding: 24px 0
        .container
            max-width: 660px
        h2
            margin-bottom: 4px
        .col
            max-width: 232px
            p
                font-size: 12px
                margin-bottom: 12px

            .descr
                font-size: 10px
                color: #fff
                a
                    text-decoration: underline

    .features
        .wrap
            justify-content: space-evenly
        &-item
            background-color: #fff
            padding: 16px 12px
            border-radius: 12px
            width: 286px
            min-width: 286px

        &-img
            margin-bottom: 12px

        &__heading
            font-size: 16px
            line-height: 130%
            margin-bottom: 8px
        &__text
            font-size: 14px
            max-width: 89%
            margin: 0 auto

    .about
        p
            font-size: 14px

    .news
        position: relative
        z-index: 1
        width: 274px
        &-wrap
            gap: 20px 0
            justify-content: space-evenly
            .news
                &:last-of-type
                    display: none

        &-title
            padding: 12px 7px
        &__time
            font-size: 12px
            margin-bottom: 5px
        &__heading
            font-size: 14px
            margin-bottom: 5px
        &__text
            font-size: 12px
            line-height: 125%

        &__link
            position: static
            margin-top: 5px
            display: inline-block
            font-size: 12px
            line-height: 150%
            color: $prime
            background-image: url('../img/slider-arrow.svg')
            background-repeat: no-repeat
            background-position: center right
            width: unset
            padding-right: 10px
            background-size: auto 10px

    .path
        padding-top: 16px
        a
            font-size: 14px

    article
        h1, h2
            margin-bottom: 16px
        img
            margin-bottom: 20px

    .cart
        padding: 20px 0 40px
        .path
            padding: 16px 0

        &__clear
            font-size: 12px

        &-header
            padding: 10px 33px 10px 10px
            border-radius: 12px
            span
                font-size: 14px
                text-align: center !important
                width: 16%
                &:first-child
                    width: 36%
                &:nth-of-type(3)
                    width: 110px

        &-item
            padding: 0 8px
            margin-bottom: 12px
            &__delete
                width: 25px
                height: 25px
                background-size: 90% auto

            &__heading,
            &__price,
            &__total
                font-size: 14px
                line-height: 140%
                margin: 0 auto
            &__heading
                width: 36%
                margin: 0
            &__total
                margin-right: 0 !important

            &__recover
                font-size: 14px
                font-weight: 500

        .total
            padding: 18px 0
            border-top: 1px solid rgba(9, 43, 14, 0.30)
            &__text
                font-size: 22px
            &__price
                min-width: 173px
                font-size: 20px

        &-footer
            .btn
                margin: 0 8px

        &-empty
            padding-bottom: 40px
            .wrap
                gap: 30px

            p
                max-width: 356px
                margin: 0 auto 30px
                font-size: 14px

            .btn
                min-width: 132px

    .ordering
        padding: 20px 0 40px

        h2, h3
            margin-bottom: 16px
        .wrap
            &-title
                .btn
                    padding: 8px
                    &::before
                        display: none

    .map
        h2
            margin-bottom: 16px
        p
            font-size: 14px
            margin-bottom: 20px

    .lost
        padding-bottom: 60px
        .content
            background-image: url('../img/bg-arrow.svg'), url('../img/404-tablet.jpg')
        h1
            font-size: 260px

        .info
            font-size: 40px

    .catalogue
        padding: 12px 0 0

    .filter
        gap: 8px 4px
        margin-bottom: 30px
        &__btn, #filter__toggler
            padding: 2px 8px
            font-size: 12px

        #filter__toggler
            padding-right: 20px
            &::before
                width: 15px

    .box
        width: 140px
        padding-bottom: 46px
        &-wrap
            gap: 20px 20px
            max-width: 640px
            margin: 0 auto 40px
        &-img
            height: 120px
        &__heading
            font-size: 14px
            line-height: 120%
            margin-bottom: 4px
            padding: 0 4px
        &__text
            font-size: 10px
            padding: 0 4px

        .btn
            padding: 4px 10px
            font-size: 12px
            left: 4px
            bottom: 12px
            width: calc( 100% - 8px )

    .service
        width: 330px
        &-wrap
            gap: 20px 24px
            max-width: 685px
            margin: 0 auto

    .category
        &-filter
            width: 216px
            padding: 20px 15px
            border-width: 1px

            .dropdown
                &-btn
                    font-size: 14px
                    padding-right: 17px
                    margin-bottom: 12px
                    background-size: 16px 16px

            &__show,
            &__recet
                font-size: 14px

        .inp-radio
            margin-bottom: 9px
            label
                font-size: 14px
                padding-left: 28px
                &::before,
                &::after
                    width: 20px
                    height: 20px

        &-content
            width: calc( 100% - 228px )

        .filter
            margin-bottom: 14px

        .sort
            display: none
            margin-bottom: 20px

        .product
            padding-bottom: 8px
            &-img
                span, p
                    display: inline-block !important

            &__price
                font-size: 12px
                margin-bottom: 4px

                i
                    font-size: 14px

            &__list
                font-size: 10px

            .wrap
                padding: 0 6px
                .btn
                    width: 100%
                    padding: 4px 10px
                    font-size: 12px
                    order: 1
                    margin-top: 4px
                    &_outline
                        order: 3

    .card
        &-img
            width: 48%

        &-info
            padding: 30px 0 10px

        &-content
            width: 48%
            &__text
                font-size: 14px

        &-slider
            order: 1
            width: 100%
            &__item
                height: 322px

        &-nav
            width: calc( 100% - 90px )
            margin: 0 auto
            padding: 18px 0 0
            order: 2
            &__item
                margin: 0 6px
                height: 76px !important
            .slick
                &-arrow
                    right: -45px
                    left: auto
                    top: 50%
                    margin-top: -15px
                    width: 30px
                    height: 30px
                    transform: none !important
                &-prev
                    right: auto
                    left: -45px
                    transform: scale(-1) !important

        &__price
            font-size: 24px
            margin: 14px 0
            s
                font-size: 14px

        &__ar
            font-size: 14px
            margin-left: 10px

        ul
            li
                font-size: 14px
                padding: 0

        .tab
            &-video
                width: 598px !important

            &-slider
                max-width: 620px
                .slick
                    &-arrow
                        width: 30px
                        height: 30px
                        margin-top: -15px
                    &-prev
                        left: -30px
                    &-next
                        right: -30px

            &-slide
                width: 180px
                height: 182px
                border: none
                padding: 0

@media screen and ( max-width: 700px )
    .hero
        .container
            max-width: 610px

        &-item
            padding: 50px 0
            text-align: center
            h2, h1, h3
                text-align: center
                margin-bottom: 24px
            p
                display: none

    .product
        &-mobSlider
            width: 100vw
            position: relative
            left: -16px
            .slick
                &-slide
                    margin: 0 4px

                &-list,
                &-track
                    display: flex

        &-slider
            max-width: 100%
            .slick
                &-slide
                    margin: 0 10px

                &-prev
                    left: 20px

                &-next
                    right: 20px

    .certificates
        &-slider
            max-width: 1400px
            margin: 0 auto

        &-slide
            width: 400px
            margin: 0 6px

    .about
        &__img
            float: none
            width: 100%
            margin-bottom: 16px
        p
            width: 100%
            max-width: 100%

        .btn
            margin: 0

    .contact_us
        background-image: url('../img/connect-mob.jpg')
        .col
            margin: 0 auto

    .news
        &-wrap
            gap: 20px 2%

    .path
        padding-top: 12px
        a
            font-size: 10px
            &::before
                padding: 0 4px 0 0

    article
        h1, h2
            margin-bottom: 12px

        img
            margin-bottom: 12px

        p
            margin-bottom: 10px

    .cart
        position: relative
        padding-top: 54px
        .container
            position: static
        .path
            display: none

        &-header
            display: none

        &__clear
            display: none

        &-item
            display: block
            position: relative
            z-index: 1
            padding-left: 114px
            padding-right: 30px
            min-height: 94px
            margin-bottom: 8px
            &__img
                position: absolute
                top: 0
                left: 0
                object-fit: contain
                display: block
                width: 94px
                height: 94px

            &__heading,
            &__price
                text-align: left
                width: 100%
                max-width: 100%
                margin-bottom: 4px

            &__total
                display: none

            &__delete
                position: absolute
                bottom: 0
                right: 0

        .total
            text-align: left
            &__text
                font-size: 16px

            &__price
                float: right
                font-size: 18px
                min-width: unset

        &-footer
            .btn
                width: 100%
                &_outline
                    font-size: 12px
                    width: unset
                    position: absolute
                    top: 8px
                    left: 0
                    padding: 8px 16px
                    margin: 0
                    &::before
                        display: none

        &-empty
            padding-bottom: 0
            .wrap
                gap: 8px

            p
                margin: 0 auto 28px

            .btn
                min-width: unset
                width: 100%
                max-width: 400px

    .ordering
        .path
            display: none
        .wrap
            &-title
                flex-direction: column-reverse
                align-items: flex-start
                text-align: left
                .btn
                    padding: 0
                    margin-bottom: 20px
                    font-size: 12px

        &__required
            padding: 4px 0
            font-size: 12px
            margin-bottom: 20px
            b
                font-size: 16px

        form
            .btn
                width: 100%

    .map
        h2
            margin-bottom: 10px
        p
            font-size: 12px
            margin-bottom: 16px

    .lost
        padding-bottom: 30px
        h1
            font-size: 150px
            margin-bottom: 20px
            letter-spacing: normal
            text-shadow: 7px 7px 10px #2114b9

        .content
            padding: 70px 0
            margin-bottom: 20px

        .info
            font-size: 20px

        .descr
            max-width: 200px
            font-size: 12px

    .box
        &-wrap
            max-width: 288px
            gap: 8px 8px

        &-img
            margin-bottom: 8px

    .pagination
        gap: 0 8px
        a
            font-size: 12px
            padding: 2px 8px

        img
            width: 20px

    .service
        width: 100%
        max-width: 400px
        margin: 0 auto 12px
        padding: 16px 0 0
        display: block
        &-wrap
            display: block

        &__heading
            font-size: 18px
            padding: 0 12px
            margin-bottom: 8px

        img
            height: 150px
            border-radius: 0

        a
            padding: 12px 12px 20px
            font-size: 18px

    .category
        #filterShow
            display: inline-block
            position: fixed
            bottom: 20px
            left: 50%
            z-index: 999
            transform: translate(-50%)
        &-filter
            position: fixed
            top: 0
            left: 0
            width: 100%
            z-index: 99999
            left: 0
            height: 100%
            border: none
            border-radius: 0
            padding: 55px 16px 30px
            display: none
            overflow-y: scroll
            -ms-overflow-style: none
            scrollbar-width: none
            &::-webkit-scrollbar
                display: none
                width: 0
                height: 0

            &__show
                position: fixed
                bottom: 20px
                left: 5%
                width: 90%
                margin: 0

            &__recet
                margin: 0
                position: fixed
                top: 10px
                left: 6px
                display: inline-block
                width: unset
                font-size: 16px
                color: $black
                z-index: 1111
                font-weight: normal
                b
                    display: none

            &__ready
                margin: 0
                position: fixed
                top: 10px
                right: 6px
                display: inline-block
                width: unset
                font-size: 16px
                padding: 10px
                z-index: 1111
                font-weight: normal
                color: $third
                b
                    display: none

            &__heading
                z-index: 1
                width: 100%
                text-align: center
                color: $black
                display: block
                position: fixed
                top: 10px
                left: 0
                background-color: #fff
                font-size: 18px
                padding: 6px

        &-content
            width: 100%

        .product
            width: 49% !important
            &-wrap
                gap: 16px 2%

            &__list
                margin-bottom: 0
                line-height: 150%

            .wrap
                padding-top: 6px

    .card
        .container
            display: block
        &-img,
        &-content,
        &-info
            width: 100%
            max-width: 100%

        #reviewTogler
            display: block
            width: 100%

        &-slider
            border: none
            border-radius: 0
            &__item
                height: unset

            .slick-dots
                li
                    padding: 16px 0

            img
                object-fit: contain

        .tab
            &-video
                width: 264px !important
                margin: 0 6px
            &-videos,
            &-slider
                max-width: 620px
                .slick
                    &-arrow
                        width: 28px
                        height: 40px
                        margin-top: -20px

                    &-prev
                        left: 0px

                    &-next
                        right: 0px

        &-content
            .btn
                width: 100%
                margin-bottom: 12px

            &-list
                display: none

            .row
                margin: 0

            &__text
                font-size: 12px
                line-height: 150%

        &-nav
            display: none

        h1
            font-size: 16px

        &__ar
            float: right

        &__price
            margin: 12px 0 16px
            font-size: 24px
            s
                font-size: 14px
