PHPMailer/COMMITMENT
PHPMailer/composer.json
PHPMailer/LICENSE
PHPMailer/SECURITY.md
PHPMailer/VERSION
PHPMailer/language/phpmailer.lang-af.php
PHPMailer/language/phpmailer.lang-ar.php
PHPMailer/language/phpmailer.lang-az.php
PHPMailer/language/phpmailer.lang-ba.php
PHPMailer/language/phpmailer.lang-be.php
PHPMailer/language/phpmailer.lang-bg.php
PHPMailer/language/phpmailer.lang-ca.php
PHPMailer/language/phpmailer.lang-cs.php
PHPMailer/language/phpmailer.lang-da.php
PHPMailer/language/phpmailer.lang-de.php
PHPMailer/language/phpmailer.lang-el.php
PHPMailer/language/phpmailer.lang-eo.php
PHPMailer/language/phpmailer.lang-es.php
PHPMailer/language/phpmailer.lang-et.php
PHPMailer/language/phpmailer.lang-fa.php
PHPMailer/language/phpmailer.lang-fi.php
PHPMailer/language/phpmailer.lang-fo.php
PHPMailer/language/phpmailer.lang-fr.php
PHPMailer/language/phpmailer.lang-gl.php
PHPMailer/language/phpmailer.lang-he.php
PHPMailer/language/phpmailer.lang-hi.php
PHPMailer/language/phpmailer.lang-hr.php
PHPMailer/language/phpmailer.lang-hu.php
PHPMailer/language/phpmailer.lang-hy.php
PHPMailer/language/phpmailer.lang-id.php
PHPMailer/language/phpmailer.lang-it.php
PHPMailer/language/phpmailer.lang-ja.php
PHPMailer/language/phpmailer.lang-ka.php
PHPMailer/language/phpmailer.lang-ko.php
PHPMailer/language/phpmailer.lang-lt.php
PHPMailer/language/phpmailer.lang-lv.php
PHPMailer/language/phpmailer.lang-mg.php
PHPMailer/language/phpmailer.lang-mn.php
PHPMailer/language/phpmailer.lang-ms.php
PHPMailer/language/phpmailer.lang-nb.php
PHPMailer/language/phpmailer.lang-nl.php
PHPMailer/language/phpmailer.lang-pl.php
PHPMailer/language/phpmailer.lang-pt_br.php
PHPMailer/language/phpmailer.lang-pt.php
PHPMailer/language/phpmailer.lang-ro.php
PHPMailer/language/phpmailer.lang-ru.php
PHPMailer/language/phpmailer.lang-sk.php
PHPMailer/language/phpmailer.lang-sl.php
PHPMailer/language/phpmailer.lang-sr_latn.php
PHPMailer/language/phpmailer.lang-sr.php
PHPMailer/language/phpmailer.lang-sv.php
PHPMailer/language/phpmailer.lang-tl.php
PHPMailer/language/phpmailer.lang-tr.php
PHPMailer/language/phpmailer.lang-uk.php
PHPMailer/language/phpmailer.lang-vi.php
PHPMailer/language/phpmailer.lang-zh_cn.php
PHPMailer/language/phpmailer.lang-zh.php
PHPMailer/src/DSNConfigurator.php
PHPMailer/src/Exception.php
PHPMailer/src/OAuth.php
PHPMailer/src/OAuthTokenProvider.php
PHPMailer/src/PHPMailer.php
PHPMailer/src/POP3.php
PHPMailer/src/SMTP.php
sendmail.php
